li a {
    font-family: 'Bowlby One', cursive;
    font-size: 1.9em;
    text-decoration: none;
    font-size: 47px;
    -webkit-text-stroke: 1px indianred;
    color: #c4ff92d6;
    text-shadow:
     4px 3px 4px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}